@import url(https://fonts.googleapis.com/css?family=Belleza:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
// @import url(https://fonts.googleapis.com/css?family=Itim:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);

/* Font Smoothing */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
button,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.navbar,
.brand,
.alert {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Belleza, Poppins, Roboto, Raleway, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
}

.cr-app {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.cr-app button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .5s;
}

.cr-app button:hover {
    transform: scale(1.09);
}

.cr-app-body {
    margin-top: 55px;
}


