.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.App-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 25px;
  /* margin-bottom: 14px; */
  animation: App-logo-spin alternate 2.5s infinite;
}

@media (prefers-reduced-motion: no-preference) {

  .App-logo2 {
    width: 100px;
    margin-right: 20px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
